// bower:scss
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

#hided-button {
  opacity: 0;
}

h1 {
}

.center {
  margin-top: 20%;
}

.main {
  width: 50%;
  margin: auto auto;
  text-align: center;
}
