// bower:scss
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

#hided-button {
  opacity: 0;
  border-radius: 0 6px 6px 0;
  margin-top: -3px;
  height: 37px;
  margin-left: -2.5px;
}

h1 {
}

.center {
  margin-top: 20%;
}

.main {
  width: 50%;
  margin: auto auto;
  text-align: center;
}

.link-border {
  opacity: 0;
  border-radius: 6px 0 0 6px;
  border: 3px solid #373C42;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: -2.5px;
}


@media (max-width: 767px) {
  .main {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .main {
    width: 90%;
  }
}

@media (max-width: 414px) {
  .container {
    h1 {
      font-size: 30px;
    }
  }
  #form-input {
    max-width: 50%;
    margin-left: 10%;
  }

}
